.heading{
    font-size: 4rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: rgb(255, 196, 0);
    place-content: center;
    text-align: center;
    color: white;
    text-align: center;
}

.big{
    font-size: 8rem;
}
.medium{
    font-size: 3rem;
}

.heading :hover{
    transition: 0.5s;
    transform: skewX(5deg);
    color: rgb(187, 159, 35);
}

.hero{
    position: relative;
    margin-left: auto;
    margin-right: auto;

}